<ion-header>
  <ion-toolbar>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      
      <ion-card-title>Información</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Aplicación desarrollada por Rafael Cuberos. A continuación puede consultar más información sobre el autor
    </ion-card-content>
    <ion-toolbar>
      <ion-buttons collapse="false">
        <ion-button>
          <ion-icon slot="icon-only" name="book-outline"></ion-icon>
        </ion-button>
        <ion-title><a href="/autor/curriculum"> <strong>Curriculum vitae</strong></a></ion-title>
        
      </ion-buttons>
      <ion-buttons collapse="false">
        <ion-button>
          <ion-icon slot="icon-only" name="mail"></ion-icon>
        </ion-button>
        <ion-title><a href="mailto:rafaelcuberosm@gmail.com"> <strong>Twitter</strong>:  rafaelcuberosm@gmail.com</a></ion-title>
        
      </ion-buttons>
      <ion-buttons collapse="false">
        <ion-button href="https://twitter.com" target="_blank">
          <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
        </ion-button>
        <ion-title> <a href="https://twitter.com"> <strong>Twitter</strong>:  @Rafa </a></ion-title>
        
      </ion-buttons>
      
        <ion-buttons collapse="false">
          <ion-button href="tel:900900900"> 
            <ion-icon slot="icon-only" name="call"></ion-icon>
          </ion-button>
          <ion-title><a href="tel:900900900"> <strong>TLFN</strong>:  900900900 </a></ion-title>
        </ion-buttons>

      
      
      
    </ion-toolbar>
  </ion-card>
</ion-content>
