

<ion-content>

  <div *ngIf="existe"> <!-- si la propiedad ver es true, siginifica que hay respuesta de la petición y se muestran los detalles -->

    <ion-card>
      
       <img src="http://covers.openlibrary.org/b/isbn/{{libro.isbn[2]}}-M.jpg">

      <ion-card-header>
        <ion-card-title>{{ libro.title }}</ion-card-title>
      </ion-card-header>
      <ion-card-content >
       
          <ion-text color="black">
              <p><strong>Autor:</strong>{{libro.author_name}}</p>
          </ion-text>
          <ion-text color="black">
              <p><strong>Año:</strong>{{libro.first_publish_year}}</p>
          </ion-text>
          <ion-text color="black">
              <p><strong>ISBN:</strong>{{libro.isbn[4]}}</p>
          </ion-text>
          <ion-text color="black">
              <p><strong>Editorial:</strong>{{libro.publisher[0]}}</p>
          </ion-text>

      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>
